# Main - Charcrete LCA

## 1. Set the project and import Charcrete database

In [295]:
# === Switch to kernel bw25! ===

# Brightway libraries
import bw2data as bd
import bw2io as bi
import bw2calc as bc
import bw2analyzer as ba
import bw_processing as bwp

# General libraries
import numpy as np
import pandas as pd
from fs.zipfs import ZipFS
import json                        # Library for working with json files
from pathlib import Path           # Library for working with paths in different OS     
import matplotlib.pyplot as plt    # Library for creating plots
import os

# Our own functions
%run utils.ipynb

In [296]:
bd.projects.set_current("ei38-teaching-25")

In [297]:
wdir = os.getcwd()

### Importing Charcrete database Excel-file

In [298]:
if "Charcrete_38" in bd.databases:
    del bd.databases["Charcrete_38"]

# 1. Specify filepath to your foreground inventories.
charcrete_path = wdir+"/data/Charcrete_database_38.xlsx"
#charcrete_path = "/home/jupyter-mija.frossard/Charcrete-LCA/Water_database_38.xlsx"
# 2. Create an instance of a class that contains basic methods for importing a database from an excel file.
charcrete = bi.ExcelImporter(charcrete_path)  
# 3. `apply_strategies` is one of such basic methods, it makes sure units, locations, etc are in correct format.
charcrete.apply_strategies()
# 4. Next step is to link your foreground exchanges to existing databases by matching relevant exchanges fields.
charcrete.match_database("biosphere3", fields=("name", "unit", "categories"))
charcrete.match_database("ei 3.8 cutoff", fields=("name", "location", "unit"))
#charcrete.metadata.pop(None)  # Remove metadata None entry. TODO
# 5. If everything is linked, write database so that it is saved in your project.
if charcrete.all_linked:
    charcrete.write_database()

Extracted 2 worksheets in 0.01 seconds
Applying strategy: csv_restore_tuples
Applying strategy: csv_restore_booleans
Applying strategy: csv_numerize
Applying strategy: csv_drop_unknown
Applying strategy: csv_add_missing_exchanges_section
Applying strategy: normalize_units
Applying strategy: normalize_biosphere_categories
Applying strategy: normalize_biosphere_names
Applying strategy: strip_biosphere_exc_locations
Applying strategy: set_code_by_activity_hash
Applying strategy: link_iterable_by_fields
Applying strategy: assign_only_product_as_production
Applying strategy: link_technosphere_by_activity_hash
Applying strategy: drop_falsey_uncertainty_fields_but_keep_zeros
Applying strategy: convert_uncertainty_types_to_integers
Applying strategy: convert_activity_parameters_to_list
Applied 16 strategies in 7.04 seconds
Applying strategy: link_iterable_by_fields
Applying strategy: link_iterable_by_fields
7 datasets
43 exchanges
0 unlinked exchanges

Warning: No valid output stream.
Title: Writing activities to SQLite3 database:
  Started: 10/27/2022 15:39:21
  Finished: 10/27/2022 15:39:21
  Total time elapsed: 00:00:00
  CPU %: 0.00
  Memory %: 0.72
Created database: Charcrete_38

In [299]:
for unlinked in charcrete.unlinked:
    print(unlinked)

In [300]:
bd.databases

Databases dictionary with 7 object(s):
	Charcrete_38
	EXIOBASE 3.8.1 2017 monetary
	EXIOBASE 3.8.1 2017 monetary biosphere
	Korean Motors Chaebol
	Water_38
	biosphere3
	ei 3.8 cutoff

In [301]:
len(bd.Database("Charcrete_38"))

7

## 2. Basic calculations and comparisons

In [302]:
bd.projects.set_current("ei38-teaching-25")

In [303]:
char_db = bd.Database("Charcrete_38")

In [304]:
ei_db = bd.Database("ei 3.8 cutoff")

In [305]:
charcrete = [act for act in char_db if "Charcrete production 5%" in act["name"]][0]
charcrete_7 = [act for act in char_db if "Charcrete production 7.5%" in act["name"]][0]
charcrete_10 = [act for act in char_db if "Charcrete production 10%" in act["name"]][0]
charcrete

'Charcrete production 5%' (cubic meter, SE, None)

In [306]:
concrete_ei = [act for act in ei_db if "concrete production 20MPa" in act["name"]]
concrete_ei

['concrete production 20MPa' (cubic meter, North America without Quebec, None),
 'concrete production 20MPa' (cubic meter, CA-QC, None),
 'concrete production 20MPa' (cubic meter, RoW, None),
 'concrete production 20MPa' (cubic meter, ZA, None)]

#### Choice of an LCIA method: IPCC 2013 GWP 100

In [307]:
ipcc = ('IPCC 2013', 'climate change', 'GWP 100a')
method = bd.Method(ipcc)

#### Analysis of standard concrete production

In [308]:
concretes_gwp = [calculateLCA(act, 1, ipcc) for act in concrete_ei]

'concrete production 20MPa' (cubic meter, North America without Quebec, None) 217.55243665066354
'concrete production 20MPa' (cubic meter, CA-QC, None) 234.1879918934279
'concrete production 20MPa' (cubic meter, RoW, None) 193.85391050515568
'concrete production 20MPa' (cubic meter, ZA, None) 229.71912735575845

In [309]:
first_lca = pd.DataFrame(list(zip([act["name"] for act in concrete_ei],[act["location"] for act in concrete_ei], concretes_gwp)), columns=["activity", "location", "GWP"])
first_lca

                    activity                      location         GWP
0  concrete production 20MPa  North America without Quebec  217.552437
1  concrete production 20MPa                         CA-QC  234.187992
2  concrete production 20MPa                           RoW  193.853911
3  concrete production 20MPa                            ZA  229.719127

In [310]:
best_concrete_idx = first_lca[['GWP']].idxmin()[0]
worst_concrete_idx = first_lca[['GWP']].idxmax()[0]

In [311]:
ba.print_recursive_calculation(concrete_ei[best_concrete_idx], ipcc, cutoff=0.010)

Fraction of score | Absolute score | Amount | Activity
0001 | 193.9 |     1 | 'concrete production 20MPa' (cubic meter, RoW, None)
  0.0214 | 4.153 | 858.8 | 'market for gravel, round' (kilogram, CH, None)
    0.0118 | 2.283 |  17.4 | 'market for transport, freight, lorry, unspecified' (ton kilometer, RE
  0.839 | 162.6 | 256.6 | 'market for cement, portland fly ash cement 21-35%' (kilogram, RoW, No
    00.8 |   155 | 256.6 | 'cement production, fly ash 21-35%' (kilogram, RoW, None)
      0.0296 | 5.739 | 6.118 | 'market group for electricity, medium voltage' (kilowatt hour, RAS, No
      0.146 | 28.27 | 30.21 | 'market for clinker' (kilogram, Europe without Switzerland, None)
      0.0303 | 5.868 | 6.363 | 'market for clinker' (kilogram, BR, None)
      0.129 | 24.98 | 28.23 | 'market for clinker' (kilogram, IN, None)
      0.43 | 83.42 | 90.59 | 'market for clinker' (kilogram, RoW, None)
    0.0318 | 6.173 | 44.72 | 'market for transport, freight, lorry, unspecified' (ton kilometer, Ro
      0.0133 | 2.573 | 18.16 | 'transport, freight, lorry, all sizes, EURO3 to generic market for tra
      0.0105 | 2.045 | 15.35 | 'transport, freight, lorry, all sizes, EURO4 to generic market for tra
  0.0167 | 3.237 | 1.752 | 'market for ethylene oxide' (kilogram, RER, None)
    0.0167 | 3.237 | 1.752 | 'ethylene oxide production' (kilogram, RER, None)
      0.0108 | 2.101 | 1.445 | 'market for ethylene' (kilogram, RER, None)
  0.0106 |  2.06 | 2.196 | 'market group for electricity, medium voltage' (kilowatt hour, RAS, No
  0.0792 | 15.36 |  1142 | 'market for sand' (kilogram, BR, None)
    0.0116 | 2.241 | 8.713 | 'market for transport, freight, lorry 3.5-7.5 metric ton, EURO3' (ton
      0.0116 | 2.241 | 8.713 | 'transport, freight, lorry 3.5-7.5 metric ton, EURO3' (ton kilometer,
    0.0271 | 5.252 | 40.44 | 'market for transport, freight, lorry 16-32 metric ton, EURO3' (ton ki
      0.0271 | 5.252 | 40.44 | 'transport, freight, lorry 16-32 metric ton, EURO3' (ton kilometer, BR
    0.0195 | 3.789 | 799.6 | 'sand quarry operation, extraction from river bed' (kilogram, BR, None
      0.019 | 3.683 | 39.91 | 'market for diesel, burned in building machine' (megajoule, GLO, None)
    0.0124 |  2.41 | 342.7 | 'sand quarry operation, open pit mine' (kilogram, BR, None)
      0.0122 | 2.365 | 25.63 | 'market for diesel, burned in building machine' (megajoule, GLO, None)

In [312]:
ba.print_recursive_calculation(concrete_ei[worst_concrete_idx], ipcc, cutoff=0.010)

Fraction of score | Absolute score | Amount | Activity
0001 | 234.2 |     1 | 'concrete production 20MPa' (cubic meter, CA-QC, None)
  0.0483 |  11.3 |   950 | 'market for sand' (kilogram, RoW, None)
    0.0181 | 4.235 | 30.68 | 'market for transport, freight, lorry, unspecified' (ton kilometer, Ro
    0.0121 | 2.824 | 672.1 | 'gravel and sand quarry operation' (kilogram, RoW, None)
  0.0477 | 11.17 | 960.1 | 'market for gravel, round' (kilogram, RoW, None)
    0.0172 | 4.034 | 960.1 | 'gravel and sand quarry operation' (kilogram, RoW, None)
    0.0159 | 3.714 | 26.91 | 'market for transport, freight, lorry, unspecified' (ton kilometer, Ro
  0.878 | 205.6 | 239.5 | 'market for cement, Portland' (kilogram, CA-QC, None)
    0.0151 | 3.534 |  25.6 | 'market for transport, freight, lorry, unspecified' (ton kilometer, Ro
    0.855 | 200.2 | 239.5 | 'cement production, Portland' (kilogram, CA-QC, None)
      0.85 |   199 | 220.4 | 'clinker production' (kilogram, CA-QC, None)

Concrete with the least impact has "market for cement, portland fly ash cement 21-35%, RoW"

#### Analysis over the cement production

In [313]:
cement = [act for act in ei_db if 'market for cement,' in act["name"] and "kilogram" in act["unit"]]

In [314]:
#cement_gwp = [calculateLCA(act, 1, ipcc) for act in cement]
fu, data_objs, _ = bd.prepare_lca_inputs({cement[0]: 1}, method=ipcc)
lca = bc.LCA(fu, data_objs=data_objs)
lca.lci()
lca.lcia()
results_ciment = []
for act in cement:
    lca.redo_lcia({act.id: 1})
    results_ciment.append((act["name"], act["location"], lca.score))

cements_lca = pd.DataFrame(results_ciment, columns=["activity", "location", "GWP"])
cements_lca.to_csv(wdir+"/outputs/gwp_results_cement_1_kg.csv")
cements_lca

,activity,location,GWP
0,"market for cement, Portland",Europe without Switzerland,0.875039
1,"market for cement, limestone 21-35%",RoW,0.758066
2,"market for cement, pozzolana and fly ash 11-35%",Europe without Switzerland,0.714784
3,"market for cement, sulphate resistant",BR,0.740920
4,"market for cement, pozzolana and fly ash 15-50%",RoW,0.609570
...,...,...,...
93,"market for cement, Portland",US,0.903289
94,"market for cement, pozzolana and fly ash 15-50%",BR,0.595846
95,"market for cement, portland fly ash cement 21-35%",ZA,0.737057
96,"market for cement, Portland",CH,0.743008
97,"market for cement, pozzolana and fly ash 25-35%",IN,0.657335

In [315]:
cements_lca.nunique()

activity    32
location    10
GWP         98
dtype: int64

#### Adding the charcrete to the comparison

In [316]:
concrete_ei = [*concrete_ei, charcrete, charcrete_7, charcrete_10]
print(concrete_ei)
concretes_gwp = [calculateLCA(act, 1, ipcc) for act in concrete_ei]

['concrete production 20MPa' (cubic meter, North America without Quebec, None), 'concrete production 20MPa' (cubic meter, CA-QC, None), 'concrete production 20MPa' (cubic meter, RoW, None), 'concrete production 20MPa' (cubic meter, ZA, None), 'Charcrete production 5%' (cubic meter, SE, None), 'Charcrete production 7.5%' (cubic meter, SE, None), 'Charcrete production 10%' (cubic meter, SE, None)]
'concrete production 20MPa' (cubic meter, North America without Quebec, None) 217.55243665066354
'concrete production 20MPa' (cubic meter, CA-QC, None) 234.1879918934279
'concrete production 20MPa' (cubic meter, RoW, None) 193.85391050515568
'concrete production 20MPa' (cubic meter, ZA, None) 229.71912735575845
'Charcrete production 5%' (cubic meter, SE, None) 177.6456230224958
'Charcrete production 7.5%' (cubic meter, SE, None) 173.5558197613203
'Charcrete production 10%' (cubic meter, SE, None) 169.37472406675374

In [317]:
first_lca = pd.DataFrame(list(zip([act["name"] for act in concrete_ei],[act["location"] for act in concrete_ei], concretes_gwp)), columns=["activity", "location", "GWP"])
first_lca.to_csv(wdir+"/outputs/first_lca_results_concrete_1_m3.csv")
first_lca

                    activity                      location         GWP
0  concrete production 20MPa  North America without Quebec  217.552437
1  concrete production 20MPa                         CA-QC  234.187992
2  concrete production 20MPa                           RoW  193.853911
3  concrete production 20MPa                            ZA  229.719127
4    Charcrete production 5%                            SE  177.645623
5  Charcrete production 7.5%                            SE  173.555820
6   Charcrete production 10%                            SE  169.374724

In [318]:
ba.print_recursive_calculation(charcrete, ipcc, cutoff=0.010)

Fraction of score | Absolute score | Amount | Activity
0001 | 177.6 |     1 | 'Charcrete production 5%' (cubic meter, SE, None)
  0.0123 | 2.184 |  0.01 | 'Biochar production' (ton, SE, None)
  0.0346 | 6.151 |  1000 | 'market for gravel, crushed' (kilogram, CH, None)
    0.015 | 2.659 | 20.26 | 'market for transport, freight, lorry, unspecified' (ton kilometer, RE
    0.0194 | 3.437 |  1000 | 'gravel production, crushed' (kilogram, CH, None)
  0.0255 | 4.536 |   938 | 'market for sand' (kilogram, CH, None)
    0.014 | 2.494 |    19 | 'market for transport, freight, lorry, unspecified' (ton kilometer, RE
    0.0112 | 1.991 |   938 | 'gravel and sand quarry operation' (kilogram, CH, None)
  0.024 | 4.261 |   3.2 | 'market for plasticiser, for concrete, based on sulfonated melamine fo
    0.0231 |   4.1 |   3.2 | 'plasticiser production, for concrete, based on sulfonated melamine fo
      0.0121 | 2.147 | 1.075 | 'market for chemical, organic' (kilogram, GLO, None)
  0.92 | 163.5 | 186.8 | 'market for cement, Portland' (kilogram, Europe without Switzerland, N
    0.0148 |  2.62 | 19.97 | 'market for transport, freight, lorry, unspecified' (ton kilometer, RE
    0.898 | 159.5 | 186.8 | 'cement production, Portland' (kilogram, Europe without Switzerland, N
      0.0154 | 2.744 | 7.024 | 'market group for electricity, medium voltage' (kilowatt hour, Europe
      0.878 |   156 | 168.6 | 'clinker production' (kilogram, Europe without Switzerland, None)

**Charcrete** is not that good I guess... Need to investigate the formulation of the concrete and other parameters with more data/uncertainty analysis on : 
- cement production process and localisation
- formulation of cement/biochar/other...

## Replacing stuff in the activity

In [319]:
replace_stuff

## Scenarios of charcrete

In [320]:
scenario_df = pd.read_excel(wdir+"/data/Charcrete_database_38.xlsx", sheet_name="scenario")
scenario_df

,Activity name,reference product,location,Charcrete production 5%,Charcrete production 7.5%,Charcrete production 10%,unit,database,type
0,Charcrete production 5%,Charcrete production 5%,SE,1.000,1.000,1.000,cubic meter,Charcrete_38,production
1,Biochar production,Biochar production,SE,0.010,0.015,0.020,ton,Charcrete_38,technosphere
2,"market for gravel, crushed","gravel, crushed",CH,1000.000,1000.000,1000.000,kilogram,ei 3.8 cutoff,technosphere
3,"market for electricity, medium voltage","electricity, medium voltage",SE,5.500,5.500,5.500,kilowatt hour,ei 3.8 cutoff,technosphere
4,market for tap water,tap water,Europe without Switzerland,156.000,156.000,156.000,kilogram,ei 3.8 cutoff,technosphere
5,market for sand,sand,CH,938.000,938.000,938.000,kilogram,ei 3.8 cutoff,technosphere
6,"market for plasticiser, for concrete, based on...","plasticiser, for concrete, based on sulfonated...",GLO,3.200,5.000,6.600,kilogram,ei 3.8 cutoff,technosphere
7,"market for diesel, burned in building machine","diesel, burned in building machine",GLO,0.200,0.200,0.200,MJ,ei 3.8 cutoff,technosphere
8,"market for cement, Portland","cement, Portland",Europe without Switzerland,186.800,180.000,173.400,kilogram,ei 3.8 cutoff,technosphere
9,"Carbon dioxide, to soil or biomass stock",NaN,NaN,3.256,4.884,6.512,kilogram,biosphere3,biosphere

In [321]:
def find_id(x):
    if x["type"] == "technosphere" or x["type"] == "production" :
        try:
            activity = bd.get_activity(database=x["database"], name=x["Activity name"], location=x["location"])
            id_val = activity.id
        except:
            print("erreur : "+x["Activity name"])
    if x["type"] == "biosphere":
            act = bd.get_activity(database="Charcrete_38", name="Charcrete production 5%", location="SE")
            activity = [flow for flow in act.biosphere() if x["Activity name"] in flow["name"]][0]
            id_val = activity.input.id
    return id_val

In [322]:
scenario_df["id"] = scenario_df.apply(find_id, axis=1)
scenario_df

,Activity name,reference product,location,Charcrete production 5%,Charcrete production 7.5%,Charcrete production 10%,unit,database,type,id
0,Charcrete production 5%,Charcrete production 5%,SE,1.000,1.000,1.000,cubic meter,Charcrete_38,production,33105
1,Biochar production,Biochar production,SE,0.010,0.015,0.020,ton,Charcrete_38,technosphere,33104
2,"market for gravel, crushed","gravel, crushed",CH,1000.000,1000.000,1000.000,kilogram,ei 3.8 cutoff,technosphere,15962
3,"market for electricity, medium voltage","electricity, medium voltage",SE,5.500,5.500,5.500,kilowatt hour,ei 3.8 cutoff,technosphere,10117
4,market for tap water,tap water,Europe without Switzerland,156.000,156.000,156.000,kilogram,ei 3.8 cutoff,technosphere,15716
5,market for sand,sand,CH,938.000,938.000,938.000,kilogram,ei 3.8 cutoff,technosphere,5008
6,"market for plasticiser, for concrete, based on...","plasticiser, for concrete, based on sulfonated...",GLO,3.200,5.000,6.600,kilogram,ei 3.8 cutoff,technosphere,6509
7,"market for diesel, burned in building machine","diesel, burned in building machine",GLO,0.200,0.200,0.200,MJ,ei 3.8 cutoff,technosphere,10200
8,"market for cement, Portland","cement, Portland",Europe without Switzerland,186.800,180.000,173.400,kilogram,ei 3.8 cutoff,technosphere,13050
9,"Carbon dioxide, to soil or biomass stock",NaN,NaN,3.256,4.884,6.512,kilogram,biosphere3,biosphere,3891

In [323]:
data = scenario_df[(scenario_df["type"]=="technosphere") | (scenario_df["type"]=="production")][["Charcrete production 5%", "Charcrete production 7.5%", "Charcrete production 10%"]].values.tolist()
t_data_array = np.array(data)
t_data_array

array([[1.000e+00, 1.000e+00, 1.000e+00],
       [1.000e-02, 1.500e-02, 2.000e-02],
       [1.000e+03, 1.000e+03, 1.000e+03],
       [5.500e+00, 5.500e+00, 5.500e+00],
       [1.560e+02, 1.560e+02, 1.560e+02],
       [9.380e+02, 9.380e+02, 9.380e+02],
       [3.200e+00, 5.000e+00, 6.600e+00],
       [2.000e-01, 2.000e-01, 2.000e-01],
       [1.868e+02, 1.800e+02, 1.734e+02]])

In [324]:
[flow for flow in charcrete.biosphere()][0]

Exchange: 3.2560000000000002 kilogram 'Carbon dioxide, to soil or biomass stock' (kilogram, None, ('soil', 'industrial')) to 'Charcrete production 5%' (cubic meter, SE, None)>

In [325]:
ba.print_recursive_supply_chain(charcrete)

1: 'Charcrete production 5%' (cubic meter, SE, None)
  0.01: 'Biochar production' (ton, SE, None)
    0.027: 'Woodchip production' (ton, SE, None)
    0.027: 'Woodchip transport' (ton, SE, None)
    0.027: 'Pyrolysis' (ton, SE, None)
  1e+03: 'market for gravel, crushed' (kilogram, CH, None)
    3.72: 'market for transport, freight train' (ton kilometer, CH, None)
    20.3: 'market for transport, freight, lorry, unspecified' (ton kilometer, RE
    1e+03: 'gravel production, crushed' (kilogram, CH, None)
  5.5: 'market for electricity, medium voltage' (kilowatt hour, SE, None)
    1.03e-07: 'market for transmission network, electricity, medium voltage' (kilome
    6.24e-07: 'market for sulfur hexafluoride, liquid' (kilogram, RER, None)
    5.39: 'electricity voltage transformation from high to medium voltage' (kilo
    0.135: 'electricity, from municipal waste incineration to generic market for
  156: 'market for tap water' (kilogram, Europe without Switzerland, None)
    9.13e-08: 'market for water supply network' (kilometer, GLO, None)
    56: 'tap water production, conventional treatment' (kilogram, Europe witho
    12.1: 'tap water production, conventional with biological treatment' (kilogr
    69: 'tap water production, direct filtration treatment' (kilogram, Europe
    4.38: 'tap water production, microstrainer treatment' (kilogram, Europe with
    4.68: 'tap water production, ultrafiltration treatment' (kilogram, Europe wi
    7.51: 'tap water production, underground water with chemical treatment' (kil
    7.51: 'tap water production, underground water with disinfection' (kilogram,
    17.9: 'tap water production, underground water without treatment' (kilogram,
  938: 'market for sand' (kilogram, CH, None)
    3.49: 'market for transport, freight train' (ton kilometer, CH, None)
    19: 'market for transport, freight, lorry, unspecified' (ton kilometer, RE
    938: 'gravel and sand quarry operation' (kilogram, CH, None)
  3.2: 'market for plasticiser, for concrete, based on sulfonated melamine fo
    0.989: 'market group for transport, freight train' (ton kilometer, GLO, None)
    1.92: 'market for transport, freight, sea, container ship' (ton kilometer, G
    0.0787: 'market group for transport, freight, inland waterways, barge' (ton ki
    0.668: 'market group for transport, freight, lorry, unspecified' (ton kilomet
    3.2: 'plasticiser production, for concrete, based on sulfonated melamine fo
  0.2: 'market for diesel, burned in building machine' (megajoule, GLO, None)
    0.2: 'diesel, burned in building machine' (megajoule, GLO, None)
  187: 'market for cement, Portland' (kilogram, Europe without Switzerland, N
    0.616: 'market for transport, freight, light commercial vehicle' (ton kilomet
    4.67: 'market for transport, freight train' (ton kilometer, Europe without S
    20: 'market for transport, freight, lorry, unspecified' (ton kilometer, RE
    187: 'cement production, Portland' (kilogram, Europe without Switzerland, N

In [326]:
ind_list = scenario_df[(scenario_df["type"]=="technosphere") | (scenario_df["type"]=="production")]["id"].values.tolist()
indices = [(ind, 33105) for ind in ind_list]
t_indices = np.array(indices, dtype=bwp.INDICES_DTYPE)

In [327]:
t_flip = np.array([False]+[True for i in range(len(scenario_df[(scenario_df["type"]=="technosphere")]))])
t_flip

array([False,  True,  True,  True,  True,  True,  True,  True,  True])

In [328]:
ind_list = scenario_df[(scenario_df["type"]=="biosphere")]["id"].values.tolist()
indices = [(ind, 33105) for ind in ind_list]
b_indices = np.array(indices, dtype=bwp.INDICES_DTYPE)
b_indices

array([(3891, 33105)], dtype=[('row', '<i4'), ('col', '<i4')])

In [329]:
data = scenario_df[(scenario_df["type"]=="biosphere")][["Charcrete production 5%", "Charcrete production 7.5%", "Charcrete production 10%"]].values.tolist()
b_data = np.array(data)
b_data

array([[3.256, 4.884, 6.512]])

In [330]:
dp_arrays = bwp.create_datapackage(sequential=True, seed=25323) # sequential sampling of columns = [0,1,2,0,1,...]
dp_arrays.add_persistent_array(
    matrix='technosphere_matrix',
    indices_array=t_indices,
    data_array=t_data_array,
    flip_array=t_flip,
)
dp_arrays.add_persistent_array(
    matrix='biosphere_matrix',
    indices_array=b_indices,
    data_array=b_data,
)

In [331]:
charcrete

'Charcrete production 5%' (cubic meter, SE, None)

In [332]:
fu, data_objs, _ = bd.prepare_lca_inputs({charcrete: 1}, method=ipcc)
lca_b = bc.LCA(
    fu,
    data_objs=[*data_objs, dp_arrays],
    use_distributions=False,
    use_arrays=True, 
#     seed_override=42,  # Seed should not be used it randoms the columns order
)
lca_b.lci()
lca_b.lcia()
lca_b.score

177.6456203790934

In [333]:
lca_b.keep_first_iteration()
iterations = 3
scores_b = [lca_b.score for _ in zip(range(iterations), lca_b)]
scores_b

[177.6456203790934, 173.55581965877943, 169.37472971580868]

## Correlated uncertainties